brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961372591/work
certifi @ file:///C:/Users/task_176765902528894/croot/certifi_1767659216804/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832794697/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744944645/work
filelock @ file:///C:/Users/task_176943980686702/croot/filelock_1769440565956/work
gmpy2 @ file:///C:/miniconda3/conda-bld/gmpy2_1764748105976/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912044311/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
numpy @ file:///C:/b/abs_0123vcxhf8/croot/numpy_and_numpy_base_1725470331966/work/dist/numpy-2.0.1-cp310-cp310-win_amd64.whl#sha256=e824ec3b279f4c5207736c83ac2f2dc79b489e08501a4ea9e3fc178c45db289b
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496059965/work
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030270/work
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465513320/work
requests @ file:///C:/miniconda3/conda-bld/requests_1762359612241/work
sympy @ file:///C:/miniconda3/conda-bld/sympy_1764762978780/work
torch==2.5.1
torchvision==0.20.1
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
urllib3 @ file:///C:/Users/task_176781036207501/croot/urllib3_1767810484846/work
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746276406/work
